.tl-#{$namespace}-auth {

	min-width: 300px;
	max-width: 960px;
	display: block;
	margin: 30px auto;
	font-size: 1em;
	text-align: center;
	zoom: 1;

	section {
		background: #fff;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
		border-radius: 4px;
		overflow: hidden;
		padding: 40px 40px 0;
	}

	.tl-#{$namespace}-auth__actions {
		padding-top: 15px;
		padding-bottom: 15px + 39px; // 39px for the button
    }

	h1, h2, h3, table {
		color: #666;
		border: 0;
		clear: none;
		margin: 0 0 24px;
		padding: 0;
	}

	h1 {
		font-size: 1.8em;
		font-weight: 300;
	}

	h2 {
		font-size: 1.2em;
		font-weight: 500;
	}

	p, ul {
		text-align: left;
		color: #666;
		font-size: 1em;
		line-height: 1.75em;
		margin: 0 0 24px;
	}

	p {
		padding: 0;
	}

	a {
		&:hover, &:focus {
			color: #111;
		}
	}

	.tl-#{$namespace}-auth__logo {
		border: 0;
		margin: 0 0 24px;
		padding: 0;
		text-align: center;

		img {
			width: auto;
			max-width: 50%;
			max-height: 100px;
		}
	}

	footer {

		padding: 12px;

		ul {
			list-style: none;
			text-align: center;
		}

		li {
			display: inline-block;

			&:after {
				color: lighten( #555d66, 20% ); // #wp-footer color
				content: '•';
				padding: 0 .75rem;
			}

			&:last-child:after {
				content: '';
				padding: 0;
			}
		}
	}
}
